body {
  background-color: black;
  color: white;
}

.title-for-the-post-page {
  padding: 20px;
  margin: 20px;
  color: rgba(8, 187, 8, 0.914);
}
#postForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
  padding: 20px;
  background-color: rgb(31, 30, 30);
  border-radius: 10px;
}

#postForm input,
#postForm textarea {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
#postForm textarea {
  height: 100px;
}
#postForm button {
  width: 120px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(33, 7, 57);
  color: white;
}

#postForm input[type="number"] {
  -moz-appearance: textfield;
}

#postForm input[type="number"]::-webkit-outer-spin-button,
#postForm input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  padding: 10px;
  border-radius: 8px;
  background-color: black;
  color: white;
  border: none;
}

button:hover {
  background-color: rgb(54, 9, 96);
}
